<p style="color: green"><%= notice %></p>

<main class="px-3">
  <h1 class="py-3">Editing survey</h1>

  <%= simple_form_for @survey do |form| %>
    <%= form.input :name, label: "Name of survey", placeholder: "Write your survey name here", input_html: { class: "mb-3" } %>
    <label for="survey">Proposals</label>
    <div id="proposals">
      <%= form.simple_fields_for :proposals do |proposals_form| %>
        <%= render 'proposal_fields', f: proposals_form %>
      <% end %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <%= link_to_add_association 'add proposal', form, :proposals, class: "btn btn-primary text-start" %>
      </div>
    </div>

    <label for="survey">Voters</label>
    <div id="voters">
      <%= form.simple_fields_for :voters do |voters_form| %>
        <%= render 'voter_fields', f: voters_form %>
      <% end %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <%= link_to_add_association 'add voter', form, :voters, class: "btn btn-primary text-start" %>
      </div>
    </div>

    <div class="d-grid gap-2">
      <%= form.submit "Launch survey", class: "btn btn-success" %>
    </div>
  <% end %>
</main>
