<p style="color: green"><%= notice %></p>

<main class="px-3">
  <h1 class="py-3"><%= @survey.name %></h1>

  <h2 class="text-start">Proposals:</h2>
  <% @proposals.each do |proposal| %>
    <h3 class="text-start"><%= proposal.name %></h3>
  <% end %>

  <br/>

  <h2 class="text-start">Voters:</h2>
  <% @voters.each do |voter| %>
    <h3 class="text-start"><%= voter.email %></h3>
  <% end %>
</main>

<div>
  <%= link_to "Edit this survey", edit_survey_path(@survey) %> |
  <%= link_to "Back to surveys", surveys_path %>

  <%= button_to "Destroy this survey", @survey, method: :delete %>
</div>
