<p style="color: green"><%= notice %></p>

<main class="px-3">
  <div class="card">
    <div class="card-header text-dark">
      <h2><%= @survey.name %></h2>
    </div>
    <ul class="list-group list-group-flush">
      <% @survey.scores.each do |score| %>
        <li class="list-group-item">
          <h5 class="form-check-label text-start"><%= score.proposal.name %> : <%= score.name %></h5>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="background-color: darkgreen; width: <%= score.proposal.excellent_percent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><%= score.proposal.excellent_percent %>%</div>
            <div class="progress-bar" role="progressbar" style="background-color: forestgreen; width: <%= score.proposal.very_good_percent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><%= score.proposal.very_good_percent %>%</div>
            <div class="progress-bar" role="progressbar" style="background-color: yellowgreen; width: <%= score.proposal.good_percent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><%= score.proposal.good_percent %>%</div>
            <div class="progress-bar" role="progressbar" style="background-color: yellow; width: <%= score.proposal.passable_percent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><%= score.proposal.passable_percent %>%</div>
            <div class="progress-bar" role="progressbar" style="background-color: orange; width: <%= score.proposal.inadequate_percent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><%= score.proposal.inadequate_percent %>%</div>
          </div>
        </li>
      <% end %>
      <div class="card-footer">
        <div class="d-grid gap-2">
          <p class="text-dark"> Number of votes: <%= @survey.number_of_votes %> </p>
          <p class="text-dark"> Winner: <%= @survey.winner %> </p>
        </div>
      </div>
    </ul>
  </div>
</main>
