<p style="color: green"><%= notice %></p>

<main class="px-3">
  <h1 class="py-3"><%= @survey.name %></h1>

  <h1 class="text-start">Proposals:</h1>
  <% @survey.proposals.each do |proposal| %>
    <h2 class="text-start"><%= proposal.name %></h2>
  <% end %>
</main>

<div>
  <%= link_to "Edit this survey", edit_survey_path(@survey) %> |
  <%= link_to "Back to surveys", surveys_path %>

  <%= button_to "Destroy this survey", @survey, method: :delete %>
</div>
