<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>BestLunch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">

  <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav class="navbar navbar-dark" style="background-color: transparent;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">BestLunch</a>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="mt-auto text-white-50">
      <p>
        <%= link_to "Surveys", surveys_url, class: "text-white px-2"%>
        <%= link_to "Majority judgement", "https://en.wikipedia.org/wiki/Majority_judgment", class: "text-white px-2"%>
        <a href="https://github.com/" class="text-white px-2">Source code</a>
      </p>
    </footer>
  </div>
  </body>
</html>
